.inner{
    height: 50%;
    width: 50%;
}

.submit_btn {
    
    background: linear-gradient(to right, #ab1dcf, #f80759);
  text-transform: uppercase;
  padding: 10px 40px 10px;
  cursor: pointer;
   font-size: 15px;
}

.input {
    padding: 10px auto 10px;
    height: 3rem;
}
