#contact {
    margin-top: 100px;
    background-image: url(../../images/footer.png);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin-top: 20%;
}

#contact h1 {
    font-size: 3.5rem;
    color: #3d2514;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'Alfa Slab One';
    margin-bottom: 80px;
}

#contact form {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #110c09;
    color: #ffffff;
    border-radius: 5px;
}

#contact form textarea {
    height: 150px;
}

#contact form input[type="submit"] {
    height: 45px;
    background: linear-gradient(90deg, blue 20%, blue);
    color: #ffffff;
    text-transform: uppercase;
}
