nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100%;
    z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
    /* background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%);  */
}

 nav.active {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
    background-color: #ffffff;
}


nav ul {
    display: flex;
    
}

nav ul li a {
    font-family: 'Bebas Neue';
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #3d2514;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover {
    background-color: blue;
    color: #ffffff;
    box-shadow: 5px 10px 30px;
    transition: all ease 0.2s;
}

nav .menu-btn,
.menu-icon {
    display: none;
}





