.myMenu{
   padding: 30px;
}

.reviewForm{
  display: flex;
  justify-content: center;
}

.form_input{
padding: 5px;
width: 100rem;
height: 40px;
}

.heading{
    text-align: center;
    font-family: 'Alfa Slab One';
    margin-bottom: 20px;
}

.label{
    font-weight: bold;
    color: black;
}

.sub_btn{
    background-color: blue;
    width: 10%;
    height: 15%;
    margin-left: 45%;
     border-radius: 5px;
     font-size: large;
}

.menu-details{
   margin: 15rem 30rem;
    display: flex;
    align-items: center;
   gap:5rem; 
}
.picture{
    width: 50%;                     
}

.add_btn{
    background-color:blue;
    height: 40px;
    width: 95px;
    border-radius: 5px;
  
}

  
.details{
    margin-right: 15rem;
}
a{
    color: black;
}

.menu_items{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

.searc{
    margin-top: 10rem;
    margin-left: 35rem;
 
}

.sea{
    width: 50%;
    height: 35px;
    padding: 5px;
}

.img{
    /* border: solid 2px red; */
    width: 30rem;
}

.see{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    background-color: red;
}

