.crud {
    gap: 5px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
   
    width: 97%;
}

.btn_add{
    background-color: green;
    width: 100px;
    height: 30px;
}
.add{
    margin-top: 15px;
    display: flex;
    justify-content:flex-start;
    margin-left: 10px;
    gap: 30%;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    
}
.btn{
    width: 55px;
    background-color: red;
}
.btn_t{
    background-color: yellow;
    width: 55px;
}
.sear {
    display: flex;
    justify-content: right ;
    
    background-color: yellow;
}
.card {
    margin-left: 30PX;
    border: 0.5px solid;
    padding: 5px;
    width: 200px;
  }

.move{
    margin-left: 25px;
  }

.img {
    width: 100%;
}

.modal-overlay{
    background-color: red;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}