.crud {
    display: flex;
    width: 20%;
}


.btn_add{
    background-color: blue;
    width: 100px;
    height: 30px;
    
}

.add{
    margin-top: 15px;
    display: flex;
    justify-content:flex-start;
    margin-left: 10px;
    gap: 30%;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between
}
.btnRed{
    width: 60px;
    background-color: red;
    border-radius: 5px;
    border: solid 1px black;
}
.btn_t{
    width: 60px;
    background-color: yellow;
    border-radius: 5px;
}
.card-img-top{
    height: 200px;
}
.card-text{
    height: 150px;
}

.card {
    margin-left: 30PX;
    border: 0.5px solid;
    padding: 5px;
    /* width: 200px; */
    width: 22rem;
  }

.move{
    margin-left: 25px;
  }

.img {
    width: 100%;
}

.modal-overlay{
    background-color: red;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}

.edit_form{
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20%; */
    border: solid 12px blue;
    height: 100%;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.cancel{
    width: 10%;
    border-radius:5px;
}

.save{
    width: 10%;
    border-radius:5px;
}
.try{
   
    width: 50rem;
}

.search_input{
    margin-top: 50px;
    width: 30rem;
    height: 40px;
    padding: 5px;
}

