.Glass {
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--glass);
  /* border-radius: 2rem; */
  /* gap: 16px; */
  grid-template-columns: 11rem auto;
  overflow: hidden;
  }
  .move{
    margin-left: 30px;
    /* background-color: blue; */
    
  }


  @media screen and (max-width: 1200px) {
    .AppGlass{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .AppGlass{
      grid-template-columns: 1fr;
    } 
  }
