* {
  margin:  0;
  padding: 0;
}

/* .container{
  background: linear-gradient(135deg,#850c62, #f80759);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .title{
  color: #f80759;
  text-align: center;
  margin: 40px 0px 40px 0px;
} */

/* .name,
.email,
.password{
  margin: 20px;
  color: #969292;
  font-size: 16px;
} */

/* .password{
  margin-bottom: 30px;
} */

/* .input{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
} */

/* .input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
} */

/* .log-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
} */

/* .login_submit_btn{
  background: linear-gradient(to right, #ab1dcf, #f80759);
  text-transform: uppercase;
  padding: 10px 50px 30px;
  cursor: pointer;
   font-size: 15px;
   
} */

/* .reg-btn {
  margin-bottom: 2rem;
}

.error{
  color: red;
} */

/* .submit{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #ab1dcf, #f80759);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1ms;
} */

/* button:active{
  transform: translateY(2px);
}

.form-success{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: #f80759;
} */

/* :root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
} */

.App {
  /* color: var(--black); */
  /* background: linear-gradient(
    106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85%); */
  /* height: 100vh; */
  /* display: flex; */
  height: 100vh;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  font-family: 'Inter', sans-serif;
}

/* .app-wrapper{
  background-color: #ffff;
  min-width: 350px;
  min-height: 400px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
} */

/* .AppGlass {
  display: grid;
  height: 100vh;
  width: 100%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 50px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
} */

/* @media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  } 
} */
